
.nav {
    grid-area: n;
    background-color: rgba(128, 201, 129, 0.79);
    border-radius: 5px;
    padding-left: 10px;
    /*border: 1px solid red;*/
    height: 500px;
    /*align-self: start;*/
}

a {
    color: rgba(20, 20, 20, 0.79);
    text-decoration: none;
    font-size: 18px;
    font-family: Bahnschrift ,sans-serif;
}
